body {
    background-color: #FFF;
    padding: 20px;
    margin: 0;
  }

  h1 {
    padding: 60px;
    text-align: left;
    background-color: #0515ee;
    color: white;
    font-size: 30px;
    font-weight: bolder;
  }

  
  h2, p, ul, li {
    font-family: sans-serif;
    font-weight: bold;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }